RewriteEngine On
RewriteCond %{THE_REQUEST} /action/.*.php [NC]
RewriteRule ^ - [L]

RewriteCond %{THE_REQUEST} /.*.php [NC]
RewriteRule ^ - [R=404,L]

RewriteRule ^web_seminar$ /web_seminar/index.php [L]
RewriteRule ^events_mendatang$ events_mendatang.php [L]
RewriteRule ^login$ login.php [L]
RewriteRule ^registrasi$ registrasi.php [L]
RewriteRule ^dashboard/home$ dashboard.php [L]
RewriteRule ^dashboard/profile$ profile.php [L]
RewriteRule ^dashboard/ubah-password$ reset_password.php [L]
RewriteRule ^dashboard/user$ data_user.php [L]
RewriteRule ^dashboard/role$ data_role.php [L]
RewriteRule ^dashboard/question$ data_question.php [L]
RewriteRule ^dashboard/event$ event.php [L]
RewriteRule ^dashboard/create_events$ create_events.php [L]
RewriteRule ^dashboard/create_events/([0-9]+)/participants$ participants_event.php?id=$1 [L]
RewriteRule ^dashboard/user/([0-9]+)$ form_edit_user.php?user=$1 [L]
RewriteRule ^dashboard/role/([0-9]+)$ form_edit_role.php?id=$1 [L]
RewriteRule ^dashboard/create_events/([0-9]+)$ form_edit_create_events.php?id=$1 [L]
RewriteRule ^dashboard/question/([0-9]+)$ form_edit_question.php?id=$1 [L]
RewriteRule ^dashboard/user/add$ form_tambah_user.php [L]
RewriteRule ^dashboard/role/add$ form_tambah_role.php [L]
RewriteRule ^dashboard/create_events/create$ form_tambah_create_events.php [L]
RewriteRule ^dashboard/question/add$ form_tambah_question.php [L]
