@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    scrollbar-width: thin;
    font-weight: 600;
    scrollbar-color: #888 #fff;
    color: #484e56;
}

:root{
    --primary-color: #53a8b6;
}

a{
    text-decoration: none;
}

main{
    width: 100%;
    background-color: #ffffff;
}

header.navbar_index{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 997;
    width: 100%;
    background-color: #ffffff;
    transition: .3s ease all;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.center_navbar{
    padding: 1.2rem 4rem;
    transition: .3s ease all;
}

.wrap_navbar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_left,.navbar_mid{
    height: 100%;
}

main .sidebar_index{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 76px;
    right: -100%;
    background-color: #fff;
    z-index: 996;
    transition: .5s ease all;
}

main .sidebar_index_show{
    right: 0;
    transition: .5s ease all;
}

main .sidebar_index .wrap_sidebar{
    height: 100%;
    box-sizing: border-box;
    padding: 1rem;
    list-style-type: none;
}

main .sidebar_index .wrap_sidebar li .sidebar_link{
    padding: 15px 16px;
    display: block;
}
main .sidebar_index .wrap_sidebar li.profile_list{
    padding: 12px 16px;
}

.container_index{
    padding: 30px 4rem 0rem;
    transition: .3s ease all;
}

.container_index_pd{
    padding: 0rem 1rem;  
}

section.first .box_banner{
    height: max-content;
    max-height: 390px;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}

section.first .box_banner .banner_overflow{
    border-radius: 5px;
    height: auto;
}

section.first .box_banner .banner_overflow img{
    width: 100%;
    display: block;
    border-radius: 5px;
}

section.first .row_divisi{
    overflow: auto;
    scrollbar-width: none;
    height: max-content;
    margin-bottom: 2rem;
}

section.first .row_divisi .row{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 17px;
}

section.first .row_divisi .box_divisi{
    width: 270px;
    height: 180px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    flex-shrink: 0;
}

section.first .row_divisi .box_divisi .divisi{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .4s ease all;
}

section.first .row_divisi .box_divisi .text_divisi{
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    z-index: 2;
    top: 55%;
    left: 50%;
    color: #fff;
    transform: translate(-50%);
    text-align: center;
    white-space: nowrap;
    cursor: default;
}

section.first .row_divisi .box_divisi .divisi::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(0deg, rgba(83,168,182,0.9024859943977591) 20%, rgba(83,168,182,0.5999649859943977) 45%, rgba(83,168,182,0) 70%);
}

section.first .row_divisi .box_divisi .divisi::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 3;
    background-color: #ffffff52;
    transition: .4s ease all;
}

section.first .row_divisi .box_divisi:hover .divisi,
section.first .row_divisi .box_divisi:hover .divisi::after{
    transform: scale(1.1);
    background-color: transparent;
    transition: .4s ease all;
}

section.events .registrasi_seminar{
    margin-bottom: 2rem;
}

section.events .registrasi_seminar .wrap_box_seminar{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(25% - 25px), 1fr));
    gap: 25px;
}

section.events .registrasi_seminar .title_registrasi{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

section.events .registrasi_seminar .title_registrasi a{
    color: #318a97;
    white-space: nowrap;
}

section.events .registrasi_seminar .wrap_box_seminar .box_seminar{
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #dddd;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.events .registrasi_seminar .wrap_box_seminar .box_seminar .waktu_seminar{
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 10px;
    background-color: var(--primary-color);
    border-radius: 0px 5px 0px;
    color: #fff;
}

section.events .registrasi_seminar .wrap_box_seminar .box_seminar .content_seminar{
    width: 100%;
    height: max-content;
}

.img_thumbnail{
    width: 100%;
    height: auto;
    display: block;
}

section.events .registrasi_seminar .wrap_box_seminar .box_seminar .detail_seminar{
    padding: 16px 16px 0px;
}

section.events .registrasi_seminar .wrap_box_seminar .box_seminar .detail_seminar .title_seminar,
section.events .registrasi_seminar .wrap_box_seminar .box_seminar .detail_seminar .author{
    margin-bottom: 10px;
}

section.events .registrasi_seminar .wrap_box_seminar .box_seminar .detail_seminar .title_seminar h1{
    font-size: 18px;
    line-height: 25px;
    overflow: hidden;
    font-weight: bold;
    text-overflow: ellipsis;
}

section.events .registrasi_seminar .wrap_box_seminar .box_seminar .detail_seminar .author span{
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: #888;
}

section.events .registrasi_seminar .wrap_box_seminar .box_seminar .button_daftar{
    padding: 0px 16px 16px;
}

section.events .registrasi_seminar .wrap_box_seminar .box_seminar .btn_regis_seminar{
    width: 100%;
    padding: 12px 16px;
    box-sizing: border-box;
    display: block;
    color: #fff;
    font-size: 16px;
    background-color: var(--primary-color);
    text-align: center;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: .3s ease all;
    cursor: pointer;
}

section.events .registrasi_seminar .wrap_box_seminar .box_seminar .btn_regis_seminar:hover{
    border-color: var(--primary-color);
    color: var(--primary-color);
    background-color: transparent;
    transition: .3s ease all;
}

section.faq .faq_section{
    padding: 60px 0px 30px;
    border-top: 1px solid #dddddd87;
}

section.faq .title_faq{
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
}

section.faq .content_faq{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.faq .content_faq .details{
    width: 85%;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    cursor: pointer;
    margin-bottom: 20px;
    border: 1px solid transparent;
    transition: .3s ease all;
}

section.faq .content_faq .details:hover{
    border-color: #53a8b6 !important;
    transition: .3s ease all;
}

section.faq .content_faq .details .question{
    display: flex;
    align-items: center;
}

section.faq .content_faq .details .question i{
    font-size: 24px;
    margin-right: 15px;
}

section.faq .content_faq .details .question h3{
    font-size: 17px;
}

section.faq .content_faq .details .answer{
    display: none;
}

section.faq .content_faq .details .answer hr{
    margin: 25px 0px;
    border: 0;
    border-top: 1px solid #dddddd87;
}

section.faq .content_faq .details .answer p{
    font-size: 14px;
    line-height: 22px;
}


.footer_top{
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0px 30px;
    border-top: 1px solid #dddddd87;
    border-bottom: 1px solid #dddddd87;
}

.footer_top .footer_box{
    padding: 0px 16px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.footer_box h1.title{
    font-size: 26px;
    margin-bottom: 10px;
}

.footer_box h1.title_2{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer_box ul li{
    list-style-type: none;
}

.footer_box ul li a{
    padding: 3px 0px;
    display: block;
}

.footer_box ul li a i{
    margin-right: 10px;
}

.footer_box p.description_footer{
    line-height: 25px;
}

.footer_box .social_media{
    padding: 3px 0px;
}

.footer_box .social_media a{
    margin-right: 10px;
}

.footer_box .social_media a i{
    font-size: 25px;
}

.footer_bottom p.copyright{
    font-size: 14px;
    padding: 20px 0px;
    text-align: center;
}


.btn{
    padding: 10px 24px !important;
    border-radius: 2px;
    box-sizing: border-box;
}

.nav_items{
    height: 100%;
    display: flex;
    list-style-type: none;
}

.btn_hamburger{
    display: none;
    font-size: 20px;
    cursor: pointer;
}

.nav_item{
    display: flex;
    align-items: center;
}

.nav_link{
    padding: 12px 16px;
    box-sizing: border-box;
}

.btn_masuk{
    border: 1px solid var(--primary-color);
    background-color: #fff;
    margin-right: 5px;
    transition: .3s ease all;
}

.btn_daftar{
    background-color: var(--primary-color);
    margin: 0px 5px;
    color: #fff !important;
    transition: .3s ease all;
}

.item_mid{
    transition: .2s ease all;
}

.item_mid:hover{
    background-color: #f2f2f2;
    border-radius: 3px;
    transition: .2s ease all;
}

.btn_masuk:hover{
    background-color: #318a97;
    color: #fff;
    transition: .3s ease all;
}

.btn_daftar:hover{
    background-color: #318a97;
    transition: .3s ease all;
}

.btn_scroll_top{
    position: fixed;
    bottom: 3%;
    right: -50px;
    transition: .5s ease all;
    z-index: 995;
}

.btn_scroll_top:hover{
    cursor: pointer;
}

.btn_scroll_top .wrap_btn_scroll{
    padding: 10px 15px;
    border-radius: 3px;
    background-color: #484e56;
}

.btn_scroll_top .wrap_btn_scroll i{
    color: #fff;
}

@media (max-width: 1199.98px){
    section.events .registrasi_seminar .wrap_box_seminar{
        grid-template-columns: repeat(auto-fill, minmax(calc(33.33333333% - 25px), 1fr));
    }
}

@media (max-width: 991.98px) {
    section.events .registrasi_seminar .wrap_box_seminar{
        grid-template-columns: repeat(auto-fill, minmax(calc(50% - 25px), 1fr));
    }
 }

 @media (min-width: 768px) {

    .col-lg-6{
        flex: 0 0 auto;
        width: 50%;
    }

    .col-lg-3{
        flex: 0 0 auto;
        width: 25%;
    }

 }

@media (max-width: 767.98px) {

    .col-sm-12{
        flex: 0 0 auto;
        width: 100%;
    }

    .center_navbar{
        padding: 1rem !important;
    }

    .navbar_right .nav_right_dekstop{
        display: none;
    }

    .navbar_mid{
        display: none;
    }
    
    .btn_hamburger, main .sidebar_index{
        display: block;
    }

    .container_index{
        padding: 30px 0rem 0rem;
        transition: .3s ease all;
    }

    section.first .box_banner{
        height: max-content;
        margin-bottom: 1.5rem;
    }

    section.first .row_divisi .box_divisi{
        width: 200px;
        height: 145px;
    }

    section.first .row_divisi .box_divisi .text_divisi{
        font-size: 18px;
    }

    .profile_user{
        display: none !important;
    }

    section.faq .content_faq .details{
        width: 100%;
    }

}

@media (max-width: 575.98px) {
    section.events .registrasi_seminar .wrap_box_seminar{
        grid-template-columns: repeat(auto-fill, minmax(calc(100% - 25px), 1fr));
    }
    
 }